a {
	text-decoration: none;
	color: #2129FF;
}
body {
	background: #eee;
	margin: 0;
	color: #333;
}
.content_div {
	margin-left: auto;
	margin-right: auto;
	min-height: 830px;
	width:	1550px;

	height: calc(100% - 120px);
	padding-top: 120px;
	background: #333333;
	padding-left: 10px;
	padding-right: 10px;
}
.header_div {
	width: 100%;
	height: 150px;
	background: #777;
	color: #eee;
	font-size: 64px;
	line-height: 120px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	font-weight: 1000;
}
.col {
	width: 500px;
	height: 100%;
	background: #777;
	display: inline-block;
}
.image_col {
	float: left;
}
.info_col {
	float:right;
}
.question_col {
	margin-left: 25px;
}
.columns_div {
	height:	500px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.toolbar {
	width: 100%;
	height: 35px; 
	background: #333;
}
.anim_div {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: margin-top 0.5s ease-in;
}
.quest_anim {
	transition: margin-top 0.7s ease-in;
}
.text_anim {
	transition: margin-top 0.9s ease-in;
}
.image_container {
	height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	background: #fff;
}

.infotext_container {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 10%;
	height: 90%;
	width: 90%;
	font-family: Tahoma, Geneva, sans-serif;	
	color: #efefef;
	font-size: 18px;
	font-weight: 500;
}
.question_container {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 10%;
	height: 90%;
	width: 90%;
	font-family: Tahoma, Geneva, sans-serif;	
	color: #efefef;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}
.left-buttons {
	height: 90%;
	float: left;
}
.right-buttons {
	height: 90%;
	float: right;
}
.button {
	color: white;
	border-radius: 5px;
	border:	0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #1a1a1a;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	height: 30px;
	margin-top: 2.5px;
	margin-right: 10px;
	outline: 0;
}
.button-circle {
	color: white;
	border-radius: 15px;
	border:	0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #1a1a1a;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	height: 30px;
	width: 30px;
	margin-top: 2.5px;
	margin-right: 10px;
	transition: background 0.3s ease;
	outline: 0;
}
.highlit {
	outline: 0;
	background: #bf4040;
}
.answer_container {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.question {
	width: 46%;
	height: 60px;
	font-size: 18px;
	margin-right: 1%;
	margin-left: 3%;
	margin-top: 2%;
	font-family: Tahoma, Geneva, sans-serif;
	border-radius: 3px;
	outline: 0;
	background: #fff;
	color: #000;
	float: left;
	border: 0;
	transition: background 0.2s ease;
}
.question:hover {
	background: #aaa;
}
.selected {
	background:	#aaa;
}
.subtitle {

}
#results {
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	font-weight: 900;
}
